<h1>All Sales Vinyl</h1>

  <% @albums.each do |album| %>
    <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>
  <% end %>

<h3>Available Records</h3>

<% if @albums.any? %> <%# Array#any? checks if the array contains anything%> 
  <ul>
    <% @albums.each do |album| %>
      <li><%= album.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>

<h3>Sold Records</h3>

<% if @sold_albums.any? %> <%# Array#any? checks if the array contains anything%> 
  <ul>
    <% @sold_albums.each do |album| %>
      <li><%= album.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records sold.</p>
<% end %>

<a href="/albums/new">Add a new album</a>

<form action="/albums/search" method="post">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>



